.imagemDeFundo{
    background-image: url('https://i.pinimg.com/originals/78/55/9b/78559b16f10875bb831b9052aa51bed3.jpg');
    background-size: cover;
}

.indice{
    width: 350px;
}

.imagemDeFundo .container{
    height: 480px;
}

.cadastro{
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: rgb(48, 129, 206);
    padding: 20px;
    border-radius: 10px;
    color: white;
}
.cadastro h3 {
    align-self: center;
    font-weight: bold;
    margin: 5px 0px 10px 0px;
}

.cadastro button{
    border-radius: 6px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.conteudo{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    /* height: 600px; */
}

.cadastro input{
    border-radius: 6px;
    border-color: rgb(25, 25, 204);
    box-shadow: none;
    margin-bottom: 20px;
    padding: 2.5px 2.5px 2.5px 2.5px;
}