*
{ 
    font-family: "Poppins";
}

body{
    margin: 0;
    padding: 0;
}

.imagemDeFundo{
    background-image: url('https://i.pinimg.com/originals/78/55/9b/78559b16f10875bb831b9052aa51bed3.jpg');
    background-size: cover;
}

.nav{
    background-color: rgb(255, 153, 37);
    border-bottom: 5px solid black;
}

.indice ul{
    padding: 0px;
}

.container{
    display: flex;
    width: 85%;
    flex-direction: row;
    margin:auto;
    justify-content: space-between;
}

.imagemDeFundo .container{
    background-color: rgba(14, 14, 14, 0.6);
    margin: 0;
    width: auto;
}

.logo{
    display: flex;
    align-items: center;
    padding: none;
    cursor: pointer;
}

.logo img{
    height: 100px;
}

.indice{
    display: flex;
    width: 500px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.indice ul a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.estilizacao_botao {
    display: flex; 
}

.estilizacao_botao img {
    margin-top: 10px; 
}

#botao_personagens {
    display: block;
    background-color: rgb(255, 153, 37);
    border: none;
    font-size: 20px;
    padding-left: 0;
}

.opcao{
    background-color: white;
}


.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: white;
    font-size: 45px;

}

.conteudoInterno{
    display: flex;
    justify-content: space-around;
}

.imagemDoContainer{
    display: flex;
    width: 350px;
    height: 350px;
    background-image: url('../assets/imgs/goku-fazendo-L-removebg-preview.png');
    background-size: cover;
    flex-direction: column;
}

.conteudo p{
    display: flex;
    width: 65%;
    margin-left: 20px;
    color: white;
    font-size: 20px;

}


.div_personagens{
    background-color: white;
    display: none;
    width: 145px;
    height: 100px;
    position: absolute;
    overflow-y: hidden;
    flex-direction: column;
    justify-content: space-around;

}

.div_personagens a{
    display: flex;
    text-decoration: none;
    justify-content: center;
    color: black;
    font-size: 17px;
    border-bottom: 1px solid black;
}

.sobreMim{
    background-color: rgb(119, 39, 151);
    height: 500px;
}

.sobreMim .container {
    margin: 0px;
    width: auto;
}

.sobreMim .container{
    background-color: rgba(14, 14, 14, 0.6);
    height: 500px;
}


.conteudoSobreMim h1{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 45px;
}

.conteudoSobreMim p{
    display: flex;
    margin: 20px;
    color: white;
    font-size: 20px;
}

.contato{
    background-color: black;
}



.foot{
    display: flex;
    flex-direction: row;
    color: white;
    width: 190vh;
    display: flex;
    justify-content: space-around;
}

